<template>
  <div class="home">
    <Navbar />
    <main class="container pt-5">
      <div class="bg-light p-5 rounded">
        <h1>Navbar example</h1>
        <p class="lead">
          This example is a quick exercise to illustrate how the top-aligned
          navbar works. As you scroll, this navbar remains in its original
          position and moves with the rest of the page.
        </p>
        <a
          class="btn btn-lg btn-primary"
          href="/docs/5.0/components/navbar/"
          role="button"
          >View navbar docs &raquo;</a
        >
      </div>
      <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Columns with icons</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#collection" />
              </svg>
            </div>
            <h2>Featured title</h2>
            <p>
              Paragraph of text beneath the heading to explain the heading.
              We'll add onto it with another sentence and probably just keep
              going until we run out of words.
            </p>
            <a href="#" class="icon-link">
              Call to action
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#chevron-right" />
              </svg>
            </a>
          </div>
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#people-circle" />
              </svg>
            </div>
            <h2>Featured title</h2>
            <p>
              Paragraph of text beneath the heading to explain the heading.
              We'll add onto it with another sentence and probably just keep
              going until we run out of words.
            </p>
            <a href="#" class="icon-link">
              Call to action
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#chevron-right" />
              </svg>
            </a>
          </div>
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#toggles2" />
              </svg>
            </div>
            <h2>Featured title</h2>
            <p>
              Paragraph of text beneath the heading to explain the heading.
              We'll add onto it with another sentence and probably just keep
              going until we run out of words.
            </p>
            <a href="#" class="icon-link">
              Call to action
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#chevron-right" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
export default {
  components: { Navbar },
};
</script>
