<template>
  <div>
    <Navbar />
    <div
      class="container pt-5">
        <div>
          <p class="text-center">Login or create your account.</p>
          <section
            id="firebaseui-auth-container"
            class="mt-8"
          ></section>
        </div>
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import firebase from '@/firebase';
import * as firebaseui from 'firebaseui';
import 'firebaseui/dist/firebaseui.css';

export default {
  name: 'Login',
  data: () => ({
  }),
  mounted: () => {
    const ui = new firebaseui.auth.AuthUI(firebase.auth());
    const uiConfig = {
      signInSuccessUrl: '/dashboard',
      signInOptions: [
        firebase.auth.GoogleAuthProvider.PROVIDER_ID,
        firebase.auth.EmailAuthProvider.PROVIDER_ID,
      ],
    };
    ui.start('#firebaseui-auth-container', uiConfig);
  },
  components: {Navbar}
};
</script>
