<template>
  <div>
    <nav style="background-color: #e3f2fd">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <b-nav-item to="/">Home</b-nav-item>
        </li>
        <li class="nav-item">
          <b-nav-item to="/about">About</b-nav-item>
        </li>
        <li class="nav-item">
          <b-nav-item to="/login">Login</b-nav-item>
          <!-- <b-nav-item v-b-modal.modal-login>Login</b-nav-item> -->
        </li>
      </ul>
    </nav>
    <!-- <b-modal id="modal-login" hide-footer title="Login">
      <p class="my-4">Login</p>
    </b-modal> -->
  </div>
</template>


<script>
export default {
  name: "Navbar",
};
</script>